/* stylelint-disable color-no-hex */
* {
  box-sizing: border-box; }

div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, ol, ul, li, figcaption {
  font: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  font-weight: 400; }

.topbar {
  background-color: #2a3052;
  padding: 12px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9; }

.header {
  display: flex;
  min-height: 60vh;
  padding: 20px;
  padding-top: 160px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(42, 48, 82, 0.6), rgba(42, 48, 82, 0.1)), url("../images/header-img-min.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* typography */
h1, h2, h3, h4, li, p, a, span {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word; }

.h1, h1 {
  font-weight: 300;
  font-size: 48px;
  color: #e98024;
  margin: 0; }

.h2, h2, h2 a {
  font-weight: 300;
  font-size: 36px;
  color: #e98024;
  margin: 0; }

.h3, h3, h3 a {
  color: #2a3052;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 15px; }

.ft-icon {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #e98024;
  margin: 0;
  letter-spacing: -1px; }

.title-xl {
  font-weight: 300;
  font-size: 36px;
  margin: 0; }

/* elements */
.button {
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  padding: 20px 45px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 3px;
  overflow: visible;
  border: 0;
  color: #ffffff;
  background: #2e8836;
  transition: all 0.3s ease-in-out, box-shadow 2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center; }

.button:hover {
  background-color: #14602b; }

.button:visited {
  color: #ffffff; }

.button-secondary {
  text-decoration: none;
  text-align: center;
  line-height: 100%;
  padding: 20px 45px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 3px;
  overflow: visible;
  border: 0;
  color: #000000;
  background: #f2f2f2;
  transition: all 0.3s ease-in-out, box-shadow 2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center; }

.button-secondary:hover {
  background-color: #dedede; }

.button-secondary:visited {
  color: #000000; }

.cta {
  margin-top: 60px; }

.separator-line-thin-gray {
  height: 1px;
  background-color: #f2f2f2; }

.section {
  padding: 60px 0; }

.section-sm {
  padding: 30px 0; }

.section-xs {
  padding: 10px 0; }

.section-title {
  margin-bottom: 45px; }

.section-row {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }

.section-col {
  flex: 1; }

.col {
  width: 32%;
  padding: 20px; }

.col-title {
  color: #000000;
  font-weight: 400; }

.align-bottom {
  align-items: flex-end; }

.align-middle {
  align-items: center; }

.video {
  width: 800px;
  max-width: 100%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto; }

.step {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  background-color: #e98024;
  color: #ffffff;
  margin-top: -40px;
  padding: 0px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto; }

/* modifiers */
.primary-color {
  color: #2a3052; }

.primary-bg-color {
  background-color: #2a3052; }

.secondary-color {
  color: #e98024; }

.secondary-bg-color {
  background-color: #e98024; }

.primary-color-dark {
  background-color: #15212d; }

.primary-bg-color-dark {
  background-color: #15212d; }

.content-inverse-color {
  color: #ffffff; }

.fill-bg-color {
  background-color: #f2f2f2; }

.white-bg-color {
  background-color: #ffffff; }

.black-color {
  color: #000000; }

.border-color {
  color: #dedede; }

.font-s, .font-s p {
  font-size: 13px; }

.center-text {
  text-align: center; }

.bottom-md {
  margin-bottom: 30px; }

.divider-md {
  height: 30px; }

.top-border {
  border-top: 1px solid #f2f2f2; }

/* stylelint-enable color-no-hex */
@media (max-width: 767px) {
  .video {
    width: 100%; } }

@media screen and (max-width: 992px) {
  .section-row {
    display: block; }
    .section-row .col {
      width: 100%; }
  .md-center {
    text-align: center; }
  .md-v-pading-sm {
    padding: 20px; }
  .logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .step {
    margin-top: 20px; }
  .top-border {
    border: none; }
  .md-hide {
    display: none; } }

@media screen and (max-width: 500px) {
  .button, .button-secondary {
    display: block;
    margin: 5px; } }
